@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap');

*{
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

.main{
    height: 100vh;
    background: url(assets/fon.jpg) center center no-repeat;
    background-size: cover;
}
.shapka{
    display: flex;
    justify-content: center;
    gap: 7px;
    padding-top: 20px;
}
.part{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 60px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.315);
}
.part-knopka{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 60px;
    height: 55px;
    background-color: #CAAC65;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px
}
.link{
    color: white;
}
#radius{
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px
}
.open-site{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.sell,.legenda{
    color: white;
}
.sell{
    text-align: center;
    font-size: 75px;
    line-height: 1em;
    font-weight: 500;
    text-shadow: #000 1px 0 10px;
    text-transform: uppercase;
}
.legenda{
    font-size: 37px;
    font-weight: 500;
}
.lega{
    font-family: "Tenor Sans", sans-serif;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    margin-top: 170px;
}
.legend{
    color: #CAAC65;
    font-weight: 500;
}
.leveling{
    color: white;
    text-align: center;
    font-size: 43px;
    font-family: "Tenor Sans", sans-serif;
}
.quarter{
    text-align: center;
    color: rgba(255, 255, 255, 0.678);
    font-size: 25px;
}
.town{
    height: 430px;
    width: 1000px;
    border-radius: 500px;
    background: url(assets/town.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 175px;
    padding: 40px;
    
}
.home{
    text-align: center;
    color: white;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 140px;
    margin-top: 230px;
}
.what-legenda{
    color: white;
    font-size: 60px;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 500;
}
.legends{
    color: #CAAC65;
}
.proposal{
    color: rgba(255, 255, 255, 0.329);
    text-align: center;
    font-size: 23px;
}
.information{
    color: white;
    display: flex;
    gap: 530px;
}
.information-inner{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}
.layout{
    margin: 300px 70px 0px 70px;
}
.layout-text{
    color: white;
    font-family: "Tenor Sans", sans-serif;
    font-size: 55px;
    font-weight: 500;
}
.layout-link{
    color: #9A9A9A;
    font-size: 22px;
    display: flex;
    gap: 15px;
}
.layout-inner{
    display: flex;
    gap: 100px;
    margin-top: 50px;
    text-transform: uppercase;
}
.main-layout{
    display: flex;
    
    flex-direction: column;
    gap: 250px;
    margin-top: 200px;
}
.main-layout-information{
    display: flex;
    justify-content: space-between;
}
.price{
    font-size: 20px;
}

.button-3 {
  height: 44px;
  width: 200px;
  appearance: none;
  background-color: #CAAC65;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 13px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 19px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: #000 1px 0 10px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #cfa134;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #a57e24;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.house-layout{
    text-align: center;
}
.square,.price{
    color: white;
}
.more-detailed{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
}

.review{
    height: 100vh;
    display: flex;
    margin: 300px 70px 0px 70px;
    gap: 20px;
}
.review-inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sad,.home-1,.home-2,.balcony{
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
.sad{
    background: url(assets/sad.png) center center no-repeat;
    background-size: cover;
    height: 500px;
    width: 700px;
}
.home-1{
    background: url(assets/home-1.png) center center no-repeat;
    background-size: cover;
    height: 800px;
    width: 700px;
}
.home-2{
    background: url(assets/home-2.png) center center no-repeat;
    background-size: cover;
    height: 800px;
    width: 700px;
}
.balcony{
    background: url(assets/balcony.png) center center no-repeat;
    background-size: cover;
    height: 500px;
    width: 700px;
}
.review-text{
    color: white;
}

